@import './variables';

.cart-container {
    display: flex;
    flex-wrap: wrap;

    &-p {
        padding: 10px;
        display: block;
        color: rgba(0,0,0,.56);
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.5rem;
        border-bottom: 1px solid rgba(0,0,0,.12);
        padding: .125rem 0 .5rem;
        text-align: left;
        flex-grow: 1;
        margin-bottom: 12px;
    }
}

.cart-box {
    display: flex;
    width: 33.3333%;
    padding: 15px 15px;
    position: relative;
    justify-content: space-between;

    &::before {
        position: absolute;
        bottom: 0;
        right: .875rem;
        left: .875rem;
        height: 1px;
        content: "";
        background-color: rgba(34,36,38,.15);
    }

    &::after {
        position: absolute;
        bottom: 0;
        right: .875rem;
        left: .875rem;
        height: 1px;
        content: "";
        background-color: $primaryColor;
        transform: scaleX(0);
        transition: 0.3s;
    }

    &__image {
        width: 120px;
        border-radius: 10px;
        height: 120px;
        margin-right: 6px;

        img {
            border-radius: 5px;
        } 
    }

    &:hover::after{
        transform: scaleX(1);
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 168px;
        
        &-title {
            font-size: 16px;
            font-weight: 500;
            flex-grow: 1;
        }

        &-price {
            width: 100%;
            display: inline-block;
            margin-bottom: .7rem;
            color: #424242;
            white-space: pre;
            font-size: 12px;
            line-height: 16px;
        }

        &-location {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #bdbdbd;
            font-size: 12px;
            width: 100%;
            display: inline-block;
            &-icon {
                float: left;
                font-size: 19px;
            }
        }

        
    }

}

