@import './variables';

.menu-items {
    list-style: none;
    padding-left: 10px;
    text-align: left;
    
    li {
        display: inline-block;

    }

    a {
        color: #000;
        display: block;
        font-size: 16px;
        padding: 3px 12px;
        text-decoration: none;

    }
}

.header-items {
    display: flex;
    width: 100%;

    &__button {
        color: $whiteColor !important;
        background: $primaryColor !important;
        padding: 15px !important;
        height: 36px;
        font-weight: 900;
        font-size: 18px !important;
        align-self: center;


        &:hover {
            background: #be3737 !important;
        }

        span {
            font-size: 15px;
            line-height: 0px;
        }
    }
}

.logo {
    width: 52px;
    float: right;
    align-self: center;
 
}

.nav-bar {
    flex-grow: 1;
    align-self: center;
}