@import "./header";
@import "./sidebar";
@import "./searchMain";
@import "./tags";
@import "./cart";
@import "./modal";
@import "./variables";
@import "./singleItem";

body {
  direction: rtl;
  background: $whiteColor !important;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $darkColor;
}

.loading-container {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 500px;
  position: relative;
}

.loading-container__img {
  position: absolute;
  right: calc(50% - 75px);
  top: 100px;
  width: 120px;
}
